﻿/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face { 
  font-family: 'Calibri'; 
  src: url('../fonts/CALIBRI.ttf');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Calibrib'; 
  src: url('../fonts/CALIBRIB.ttf');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'PFDINDISPLAYPRO-MED'; 
  src: url('../fonts/PFDINDISPLAYPRO-MED.ttf');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'JL-Bender'; 
  src: url('../fonts/JovannyLemonad-Bender.otf');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'JL-Bender-Bold'; 
  src: url('../fonts/JovannyLemonad-Bender-Bold.otf');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'JL-Bender-Black'; 
  src: url('../fonts/JovannyLemonad-Bender-Black.otf');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'BEBAS_NEUE_REGULAR'; 
  src: url('../fonts/BEBAS_NEUE_REGULAR.otf');
  font-weight: normal; 
  font-style: normal; 
}


@font-face { 
  font-family: 'MSYH'; 
  src: url('../fonts/MSYH.ttf');
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: 'MSYHBD'; 
  src: url('../fonts/MSYHBD.ttf');
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: 'HelveticaNeueCyr-Bold'; 
  src: url('../fonts/HelveticaNeueCyr-Bold.otf');
  font-weight: normal; 
  font-style: normal; 
}
@font-face { 
  font-family: 'HelveticaNeueCyr-Black'; 
  src: url('../fonts/HelveticaNeueCyr-Black.otf');
  font-weight: normal; 
  font-style: normal; 
}



.equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

input {
  margin-bottom: 10px !important;
  border-radius: 0px !important;
}
input::-moz-placeholder { color: black !important; }
input::-webkit-input-placeholder { color: black !important; }

.modal-content {
  position: relative;
}

.cls-btn {
  position: absolute;
  top: 0;
  right: 5px;
}

.check {
  background: #ffffff;
  padding: 10px;
  text-align: center;
  font-family: 'MSYH';
  color: #000;
}

.blueform btn {
  float: center;
}

.customnavbarnav {
    text-align: center;
}

@media only screen and (min-width: 769px) {
    .customnavbarnav {
        width: 100%;
    }

    .menu-item {
        width: 12.5%;
    }
}
.doc-preview img{
    border: solid 1px;
    min-height: 220px;
}

.menu-item{
   
}

.menu-item:hover {
    background-color: #82c0e9;
}
.menu-item a:hover {
   color: #123a69;
}

/* submenu */
ul.sub-menu {
    position: absolute;
    display: none;
    background-color: #123a69;
    list-style-type: none;
    color: white;
    top: 100%;
    width: 200%;
    left: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
      -webkit-padding-start: 0px;


}
#menu-top-menu > #menu-item-39 > a:after {
     content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}

#menu-top-menu > #menu-item-40 > a:after {
     content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}

.menu-item-has-children:hover > ul.sub-menu {
    display: block;
}

ul.sub-menu a {
    color: #ffffff !important;
    text-transform: none;
    font-size: 16px;
    font-family: 'Calibri';
}

ul.sub-menu li {    
    text-align: left;
     border-bottom: 1px solid rgba(255,255,255,.3);
     padding: 20px;
     width: 100%;
}

ul.sub-menu li:hover {
    /*background-color: white !important;*/
}

/* custom submenu */
.doc-preview img{
    border: solid 1px;
    min-height: 220px;
}

.discount-pig {
  /*  padding-top: 30px;*/
}

/*=======================================
    GENERAL STYLES
==================================================*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

.text-center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-top: 40px;
    text-transform: uppercase;
}

h2 {
    color: #03326e;
    margin-top: 0px;
    margin-bottom: 10px;
}

#home h2:after {
    display: block;
    content: "";
    height: 2px;
    width: 75%;
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

h4 {
    line-height: 40px;
}

p {
    font-weight: 300;
    padding-bottom: 1px;
}

.font_0 {
    font-family: 'MSYHBD';
    font-size: 18px;
    color: #123a69;

}
.font_2 {
    font-family: 'PFDINDISPLAYPRO-MED';
    font-size:30px;
    text-align: right; 
    color:#ffffff;
}

.font_8 {
    font-family: 'PFDINDISPLAYPRO-MED';
    font-size:24px;
     text-align:right; 
     color:#ffffff;"
    }

.font_7 {
    font-family: sans-serif;
    text-align:right; 
    color:#03326e; 
    font-size:14px;
}
.font_3 {
    font-family: 'MSYH';
    padding-top: 15px;
    margin-top: 5px; 
    color:#82c0e9; 
    text-transform:uppercase; 
}

.font_4 {
    font-family: 'MSYHBD';
    padding-bottom: 15px;
    font-size:28px;
    margin-top: 5px; 
    color:#FFFFFF; 
    text-transform:uppercase; 
}

/* установка счетчиков воды*/
.font_5 {
   padding-top: 55px;
   font-size:36px; 
   font-family:'HelveticaNeueCyr-Black';
   color:#fff;
   text-shadow: #123a69 1px 1px 0, #123a69 2px 2px 0, 
                 #123a69 3px 3px 0, #123a69 4px 4px 0, 
                 #123a69 5px 5px 0,
                 #123a69 1px 1px 0, #123a69 -1px -1px 0, 
                 #123a69 -1px 1px 0, #123a69 1px -1px 0;
}

.font_55 {
   background: #EB5151;
   font-family:'HelveticaNeueCyr-Black';
   color:#fff;
   padding: 10px;

}

.font_55a {
   font-size:16px;
   font-family:'HelveticaNeueCyr-Black';
   color:#fff;

}

.font_6{
   font-size: 30px; 
   padding: 0;
   font-family:'HelveticaNeueCyr-Bold';
   color:#fff;
   text-shadow: #123a69 1px 1px 0, #123a69 2px 2px 0, 
                 #123a69 3px 3px 0, #123a69 4px 4px 0, 
                 #123a69 5px 5px 0,
                 #123a69 1px 1px 0, #123a69 -1px -1px 0, 
                 #123a69 -1px 1px 0, #123a69 1px -1px 0;
}

.font_10 {
    font-family: 'JL-Bender-Bold';
    font-size:36px;
    color:#FFFFFF;
}

.font_11 {
    font-family: 'JL-Bender';
    font-size:29px;
    color:#123a69;
}
.font_11 span {
    font-family: 'JL-Bender-Black';
}

.font_13 {
    font-family: 'MSYHBD';
    font-size:30px; 
    text-align:center;
    color:#ffffff;
    text-transform: uppercase;
    padding-top: 80px;
}

.products {
    padding-top: 20px;
}

.font_14 {
    font-family: 'MSYHBD';
    font-size:30px; 
    text-align:center;
    color:#82c0e9;
}

.font_15{
    font-family: 'MSYHBD';
    font-size:16px;
    color: #123a69;
    text-align: left;
}

.font_16 {
    font-family: 'MSYHBD';
    font-size:16px;
    color: #82c0e9;
    text-align: left;
}

.font_17 {
    font-family: 'MSYH';
    font-size:14px;
    color: #123a69;
    text-decoration: none;
}

.font_18 {
    font-family: 'MSYH';
    font-size:14px;
    color: #ffffff;
    text-decoration: none;
}

.font_19 {
     font-family: 'MSYHBD';
    font-size:20px;
    color: #123a69;
    text-decoration: none;
}

.font_20 {
    text-transform: uppercase;
    font-family: 'BEBAS_NEUE_REGULAR';
    color: #ffffff;
    font-size: 36px;
    text-align: left;
    text-shadow: #123a69 1px 1px 0, #123a69 2px 2px 0;

}

.work p {
    font-family: 'BEBAS_NEUE_REGULAR';
    font-size: 18px;
    color: #123a69;
}

.blueform .form-control {
    width: 100%;
    font-family: 'MSYH';
    color: #000;
}

.darkblueform .form-control {
    width: 100%;
}
.space-pad {
   
}


.article-text {
    padding-bottom: 20px;
}
section {
  /*   padding-top: 70px;
   padding-bottom: 10px;*/
}

/*=======================================
    COLOR CODES
==================================================*/
.main-color {
    color: #03326e;
}

/*=======================================
    NAVIGATION STYLES
==================================================*/
.navbar a {
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'Calibrib';
}

.navbar-header a {
    color: #ffffff !important;
    padding-right: 100px;
}

nav {
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 99;
}

.fixed {
    position: fixed;
    top: 0;
    min-height: 50px;
    z-index: 99;
}

.navbar-inverse {
    background-color: #03326e;
    border-color: #03326e;
}

/*=======================================
    HEADER STYLES
==================================================*/

.head-main {
    font-size: 36px !important;
    font-weight: 900 !important;
    color: #fff;
}

.head-sub-main {
    font-size: 25px !important;
    font-weight: 600 !important;
    color: #03326e;
!important;
    padding-left: 10%;
    background-color: #f7f7f7;
    /*font-family: droid-serif-w01-regular, droid-serif-w02-regular, droid-serif-w10-regular, serif;*/
}

.thumbnail.head-sub-main {
    text-align: center;
}

.logo-head {
    margin-top: 20px;
}

.head-last {

    padding: 5px 20px 200px 20px;
    color: #fff;
}

#home:before {
    background: url("../img/Poseidon-site_012.png") no-repeat 50% / cover; /* !!!!!*/
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2; 
}


#services {
    background: url("../img/head.jpg") no-repeat 50% / cover; 
    padding-bottom: 30px;
}
#discount {
    background-color: #4cabff;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    background-attachment: fixed;
/*    min-height: 200px;*/
}
#guarantee {
    background-color: #03326e;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    background-attachment: fixed;
    /*max-height: 50px;*/
    /*max-height: 50px;*/
}
#end-line {
    background-color: #03326e;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    background-attachment: fixed;
    min-height: 30px;
}
section#santeh{
    padding-top: 0px;
}

section#price-sec {
    background: url("../img/Poseidon-background02.png");
    padding-bottom: 50px;
   }

section#aricles{
    background: url("../img/Poseidon-background03.png");
    padding-bottom: 50px;
   }

section#article{
    background: url("../img/Poseidon-background02.png");
   }

section#install{
    background: url("../img/Poseidon-background01.png");
    padding-bottom: 50px;
   }
 #install .container {
    background: #ffffff;
}
 #article .container {
    background: #ffffff;
}

#aricles .container {
    background: #ffffff;
}
.cntrls .card {
    background: #ffffff;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    
}
.new {
    padding: 10px;
    border-radius: 20px;    
}
.new img {
    border: 1px solid #123a69;
    padding: 0;
}
.more {
    font-family: 'BEBAS_NEUE_REGULAR';
    font-size: 28px;
}

.card-body {
    padding: 10px;
}
.contacts{
    background: #ffffff;
}
.contacts2{
    background: #ffffff;
    padding-bottom: 40px;
}
.blueform {
     background: url("../img/Poseidon-background01.png");
     padding: 40px;
}

.prices {
    background: #ffffff;
    padding: 10px;
    border-radius: 20px;
}

.econom {
    background: #ffffff;
    padding: 10px;
    border-radius: 20px;
}

.reviews {
    background: #ffffff;
    padding: 10px;
    border-radius: 20px;
}

.capture {
    background: #123a69;
}

.cntrls .card-img-top {
    height: 83px;
    position: relative;
}

.cntrls .new-img-top {
    position: relative;
    max-width: 100%;
}

.cntrls .card-img-top img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.cntrls .new-img-top img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.cntrls .card-cntrls-extra {
    height: 200px;
    position: relative;
}
.cntrls .card-cntrls-extra img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.extra-info{
    bottom: 1%;
    left: 10%;
    right: 10%;
    padding: 10px;
}
.cntrls-extra .card{
    min-height: 695px;
}
 .three-cntrls .card .card-body img{
    height: 232px;
}
.inf-card{
   min-height: 542px;
}


.reviews2 {
    padding-bottom: 50px;
}

.carousel, .carousel-inner, .carousel .item  {
    height: 200px !important;
}


.carousel-inner > .item > img {
min-width: 100%; 
 }
/*Высота слайдера*/
.carousel-caption h4 {
font-size:300%; 
}
/* Резервные параметры при замене h1 на h4 (зависит от использования заголовка)*/
.carousel-caption h1 {
color:#fff; /*Цвет заголовка*/
font-size:6rem; /*Размер заголовка*/
font-family:Georgia;
color: #000000;
} /*Шрифт заголовка*/
.carousel-caption p {
color:#fff; /*Цвет заголовка*/
font-size:6rem; /*Размер заголовка*/
font-family:Georgia;
color: #000000;
} 

.item p {
    color: #000000;
}
.carousel-text {
    background-image: url("../img/Poseidon-background01.png");
    height: 200px;
    padding: 30px;
}

.carousel-text p {
    color: #ffffff;
    font-family: 'MSYHBD';
}

.img-reviews {
    height: 200px;
}



@media only screen and (min-width: 990px) {
    #home:before{
        height: 225px;
    }
    .home-overlay{
        height: 250px;
    }
    #home {
        margin-top: 100px
    }
    #top_nav {
        top: 0px;
    }


}
.mdl-img{
    width: 100%;
}


@media only screen and (min-width : 700px) and (max-width: 990px) {
    /*sm*/
    #home:before {
        height: 390px;
    }
    .home-overlay{
        height: 410px
    }
    #home {
        margin-top: 70px
    }

    #top_nav {
        top: 0px;
    }
    .open-modal {
            padding: 5px 10px;
            font-size: 14px;
            line-height: 1.5;
            border-radius: 3px;
        }

    .img-reviews {
        display: none;
    }
}

@media only screen and (min-width : 375px) and (max-width: 700px) {
    /*xs*/
    #home:before {
        height: 390px;
    }
    .home-overlay{
        height: 410px
    }
    #home {
        margin-top: 70px
    }

    #top_nav {
        top: 0px;
    }
    .font_2 {
        color: #123a69;
    }
    .open-modal {
        padding: 1px 5px;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 3px;
        }

    .img-responsive {
    max-width: 30%;
    padding-top: 18px;
    height: auto;
} 

    .img-reviews {
        display: none;
    }

}

@media only screen and (min-width: 320px) and (max-width : 374px){
    #home:before {
        height: 440px;
    }
    .home-overlay{
        height: 460px
    }
    #home {
        margin-top: 50px
    }

    #top_nav {
        top: 0px;
    }
    .font_2, .font_8{
        color: #123a69;
    }

    .open-modal {
        padding: 1px 5px;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 3px;
        }

    .img-reviews {
        display: none;
    }

 .img-responsive {
    max-width: 30%;
    padding-top: 18px;
    height: auto;
} 

}

@media only screen and  (max-width:320px){
    #home:before {
        height: 600px;
    }
    .home-overlay{
        height: 620px
    }
    #home {
        margin-top: 50px
    }

    #top_nav {
        top: 0px;
    }
    .font_2, .font_8 {
        color: #123a69;
    }
    .open-modal {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
        }

     .img-reviews {
        display: none;
    }

        .img-responsive {
    max-width: 30%;
    height: auto;
} 
}

#top_nav {
    position: fixed;
    z-index: 1000;
}

.services-tittle h2, .services-tittle h3 {
    font-weight: 600;

}

.div-trans {
    padding: 5px;
    background-color: rgba(170, 201, 255, 0.75);
    margin-top: 50px;
    min-height: 350px;
    /*min-width: 600px;*/
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    font-family: Impact;
    letter-spacing: 0.1em;
}

.div-trans.div-trans-head {
    font-size: 36px !important;
}

.div-trans.div-trans-subhead {
    font-size: 30px !important;

}

/*=======================================
    Services  STYLES
==================================================*/

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #03326e;
}

#long-head {
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    background-position: left 40px;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100px;
    /*margin-top: 30px;*/
}

/*#Parallax-one {*/
/*background-image: url("../img/1.jpg");*/
/*!*padding: 30px;*!*/
/*!*background-repeat: no-repeat;*!*/
/*!*background-position: center 0;*!*/
/*!*background-size: cover;*!*/
/*!*background-attachment: fixed;*!*/
/*!*min-height: 250px;*!*/
/*!*color: #fff;*!*/
/*}*/

#Parallax-one i {
    color: #fff;
}

/*=======================================
    PRICING STYLES
==================================================*/

.plan {
    background: #eef1f3;
    padding: 0 0 15px 0;
    margin: 30px 0px;
    list-style: none;
    text-align: center;

}

.plan-active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.head-active {
    background-color: #658AEB !important;
}

.plan li {
    padding: 15px 0px;
    color: #434749;
    border-top: 1px dashed #000;
}

.plan li.plan-head {
    padding: 15px 0px;
    background-color: #6F6F6F;
    color: #FFFFFF;
    line-height: 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.plan li.main-price {
    padding: 25px 0px;
    border: none;
    font-size: 30px;
}

#Parallax-two {
    background-image: url("../img/2.jpg");
    padding: 30px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    background-attachment: fixed;
    min-height: 300px;
    color: #fff;
}

#Parallax-two i {
    color: #fff;
}

/*=======================================
    CONTACT STYLES
==================================================*/

#social-icon a {
    color: #616161 !important;
    margin-right: 10px;
    font-size: 20px;
    float: right;
}

/*=======================================
    FOOTER STYLES
==================================================*/

#footer {
    background-color: #03326e;
    color: #fff;
    padding: 30px 50px 30px 50px;
    text-align: right;
}

/*=======================================
    CALL BUTTON
==================================================*/
#popup__toggle {
    bottom: 25px;
    right: 10px;
    position: fixed;
    z-index: 1001;
}

.img-circle {
    background-color: #03326e;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.circlephone {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border: 2px solid #03326e;
    width: 150px;
    height: 150px;
    bottom: -25px;
    right: 10px;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    opacity: .5;
    -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
    -moz-animation: circle-anim 2.4s infinite ease-in-out !important;
    -ms-animation: circle-anim 2.4s infinite ease-in-out !important;
    -o-animation: circle-anim 2.4s infinite ease-in-out !important;
    animation: circle-anim 2.4s infinite ease-in-out !important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all 0.5s;
}

.circle-fill {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    background-color: #03326e;
    width: 100px;
    height: 100px;
    bottom: 0px;
    right: 35px;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: circle-fill-anim 2.3s infinite ease-in-out;
    animation: circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all 0.5s;
}

.img-circle {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    width: 72px;
    height: 72px;
    bottom: 14px;
    right: 49px;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .7;
}

.img-circleblock {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    width: 72px;
    height: 72px;
    background-image: url(../img/mini.png);
    background-position: center center;
    background-repeat: no-repeat;
    animation-name: tossing;
    -webkit-animation-name: tossing;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.img-circle:hover {
    opacity: 1;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 1;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.95);
        opacity: 1;
    }
}

@keyframes tossing {
    0% {
        transform: rotate(-8deg);
    }
    50% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(-8deg);
    }
}

@-webkit-keyframes tossing {
    0% {
        -webkit-transform: rotate(-8deg);
    }
    50% {
        -webkit-transform: rotate(8deg);
    }
    100% {
        -webkit-transform: rotate(-8deg);
    }
}

@-moz-keyframes circle-anim {
    0% {
        -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: .1;
        -moz-opacity: .1;
        -webkit-opacity: .1;
        -o-opacity: .1;
    }
    30% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .5;
        -moz-opacity: .5;
        -webkit-opacity: .5;
        -o-opacity: .5;
    }
    100% {
        -moz-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .6;
        -moz-opacity: .6;
        -webkit-opacity: .6;
        -o-opacity: .1;
    }
}

@-webkit-keyframes circle-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
        -webkit-opacity: .1;
    }
    30% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        -webkit-opacity: .5;
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        -webkit-opacity: .1;
    }
}

@-o-keyframes circle-anim {
    0% {
        -o-transform: rotate(0deg) kscale(0.5) skew(1deg);
        -o-opacity: .1;
    }
    30% {
        -o-transform: rotate(0deg) scale(0.7) skew(1deg);
        -o-opacity: .5;
    }
    100% {
        -o-transform: rotate(0deg) scale(1) skew(1deg);
        -o-opacity: .1;
    }
}

@keyframes circle-anim {
    0% {
        transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: .1;
    }
    30% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .5;
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1;
    }
}

@-moz-keyframes circle-fill-anim {
    0% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
    50% {
        -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
        opacity: .2;
    }
    100% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
}

@-webkit-keyframes circle-fill-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
    50% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2;
    }
    100% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
}

@-o-keyframes circle-fill-anim {
    0% {
        -o-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
    50% {
        -o-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2;
    }
    100% {
        -o-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
}

@keyframes circle-fill-anim {
    0% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2;
    }
    100% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2;
    }
}


